/* Линия под меню */
hr {
  height: 0.1cm;
  background-color: #333;
  opacity: 0.2;
  position: absolute;
  border: none;
  left: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: 1px 5px 5px #5c725c;
}

/* кнопка 'Активность' */
#activity {
  border: none;
  background-color: #48494d;
  color: #ffffff;
  height: 80px;
  width: 200px;
  font-size: x-large;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

#activity:hover {
  background-color: #575b61;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px) scale(1.02);
}

#activity:active {
  background-color: #6b7077;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translateY(1px) scale(0.98);
}

/* кнопка 'Мероприятия' */
#events {
  border: none;
  background-color: #48494d;
  color: #ffffff;
  height: 80px;
  width: 200px;
  font-size: x-large;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

#events:hover {
  background-color: #575b61;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px) scale(1.02);
}

#events:active {
  background-color: #6b7077;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translateY(1px) scale(0.98);
}

/* кнопка 'Все активные мероприятия' */
#all_active_events {
  border: none;
  background-color: #48494d;
  color: #fff;
  height: 80px;
  width: 400px;
  font-size: x-large;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

#all_active_events:hover {
  background-color: #575b61;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px) scale(1.02);
}

#all_active_events:active {
  background-color: #6b7077;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translateY(1px) scale(0.98);
}

/* кнопка 'Связь с нами' */
.support {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #48494d;
  color: #fff;
  height: 80px;
  width: 200px;
  font-size: x-large;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

.support:hover {
  background-color: #575b61;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px) scale(1.02);
  cursor: pointer;
}

.support:active {
  background-color: #6b7077;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translateY(1px) scale(0.98);
}

/* кнопка 'Ознакомиться' */
.about_us {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #415741;
  color: #fff;
  height: 80px;
  width: 200px;
  font-size: x-large;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

.about_us:hover {
  background-color: #5c725c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px) scale(1.02);
  cursor: pointer;
}

.about_us:active {
  background-color: #5c725c;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translateY(1px) scale(0.98);
}

/* кнопки(их расположение снизу над футером) 'Ознакомиться' и 'Связь с нами'*/
.info_and_help_actions {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 165vh;
  top: 84vh;
  margin-bottom: 1vh;
}

/* расположение модального окна по середине экрана, после нажатия на кнопку 'Ознакомиться' */
.js-modal-wrapper {
  display: flex;
  margin: auto;
  font-size: larger;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #415741;
  border-color: 10px solid red;
}

/* черта под заголовком 1-го уровня */
.js-modal-wrapper,
hr {
  position: relative;
}

/* поле заполнения эл. почты */
.e-mail-h-form {
  position: absolute;
  top: 4vh;
  width: 92%;
  left: 1rcap;
  box-sizing: border-box;
}

/* поле заполнения комментария*/
.comment-h-form {
  position: absolute;
  top: 6vh;
  width: 92%;
  left: 1rcap;
  height: 4vh;
  box-sizing: border-box;
}

/* разделение пространства между крестиком и названия для модальной формы 'Обратная связь' */
.l_x,
label {
  display: flex;
  align-items: center;
  padding-left: 5px;
  justify-content: space-between;
}

/* построение Обратной связи и расположение её над кнопкой 'Связь с нами' */
.js-sup-modal-wrapper {
  display: none;
  height: 200px;
  width: 300px;
  background: #48494d;
  border-radius: 5px;
  position: absolute;
  top: 65vh;
  box-shadow: 5px 5px 5px #415741;
  border: 3px solid #415741;
}

/* кнопка подтверждения 'связь с нами' */
.submit_form_1 {
  background: #4780c0;
  position: absolute;
  top: 11vh;
  right: 7vh;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.submit_form_1:hover {
  background-color: #517db1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px) scale(1.02);
}
.submit_form_1:active {
  background-color: #3e618b;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translateY(1px) scale(0.98);
}

/* кнопка выхода из модального окна для обратной связи */
.exit_1 {
  width: 32px;
  height: 32px;
  font-size: larger;
  background-color: #56565a;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.exit_1:active {
  background-color: #6b7077;
  transform: translateY(1px) scale(0.98);
}

.exit_1:hover {
  opacity: 1;
  background-color: #575b61;
  color: red;
}

/* кнопка выхода из модального окна для Информации о сайте */
.exit_2 {
  height: 40px;
  width: 40px;
  font-size: larger;
  background-color: #56565a;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.exit_2:active {
  background-color: #6b7077;
  transform: translateY(1px) scale(0.98);
}

.exit_2:hover {
  opacity: 1;
  background-color: #575b61;
  color: red;
}

/* кнопка выхода из модального окна для 'Мероприятия' */
.exit_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 120vh;
  margin-top: 0.5rcap;
  height: 40px;
  width: 120px;
  font-size: x-large;
  background-color: #722323;
  color: #fff;
  border: 3px solid #661717;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(163, 53, 53, 0.3);
}

.exit_3:active {
  background-color: #ac1f1f;
  transform: translateY(1px) scale(0.98);
}

.exit_3:hover {
  opacity: 1;
  background-color: #8b2525;
  color: #fff;
}

/* кнопка выхода из модального окна для 'Регистрация' */
.exit_4 {
  height: 45px;
  width: 110px;
  border-radius: 5px;
  color: #fff;
  background-color: #722323;
  font-size: x-large;
  box-shadow: 5px 5px 5px rgba(163, 53, 53, 0.3);
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  border: 3px solid #661717;
}

.exit_4:active {
  background-color: #ac1f1f;
  transform: translateY(1px) scale(0.98);
}

.exit_4:hover {
  opacity: 1;
  background-color: #8b2525;
  color: #fff;
}

/* модальная форма с выбором даты */
.main_table_with_events {
  background-color: #48494d;
  display: none;
  margin: auto;
  align-items: center;
  flex-direction: column;
  width: 130vh;
  height: 70vh;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: 10px solid #415741;
}

/* свойства для календаря */
.date_chooser {
  background: #f2f2f2;
  color: #fff;
  border: 2px solid #333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  height: 30px;
  width: 150px;
  background-color: #415741;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

.date_chooser:hover {
  background-color: #5c725c;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px) scale(1.02);
  cursor: pointer;
}

.date_chooser:active {
  background-color: #5c725c;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translateY(1px) scale(0.98);
}

/* заголовок первого уровня в 'Мероприятия' */
.view_events {
  color: #fff;
  border: 5px solid #415741;
  border-radius: 5px;
  width: 25%;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 3px #415741;
  background-color: #52555c;
}

/* заголовок второго уровня в 'Мероприятия' */
.ch_date {
  color: #fff;
  border: 5px solid #415741;
  border-radius: 5px;
  width: 10%;
  display: flex;
  justify-content: center;
  background-color: #52555c;
  box-shadow: 5px 5px 3px #415741;
}

/* регистрационная форма */
.registration_modal_form {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  background-color: #48494d;
  box-shadow: 5px 5px 5px #415741;
  border-radius: 5px;
  width: 500px;
  height: 600px;
  border: 5px solid #415741;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 10vh;
  margin-top: 10vh;
  transform: translateX(-50%);
  text-align: center;
  gap: 20px;
}

/* название регистрационной формы (p) */
.regis_p_name {
  height: 40px;
  width: 18vh;
  background-color: #56565a;
  font-size: xx-large;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border: 3px solid #415741;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10vh;
  border-radius: 5px;
}

/* p и кнопка 'закрыть' в форме регистрация */
.regis_p_and_exit_4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* кнопка  Войти */
.login_btn {
  color: #418ce0;
  background: none;
  border: none;
  font-size: large;
  color: #418ce0;
  background: none;
  border-bottom: 2px solid #418ce0;
  cursor: pointer;
}

.login_btn:hover {
  color: #97c4f7;
  border-color: #97c4f7;
  background-color: rgba(
    65,
    140,
    224,
    0.1
  ); /* Полупрозрачный фон при наведении */
  transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.login_btn:focus {
  outline: none; /* Убираем стандартное выделение */
  box-shadow: 0 0 5px rgba(65, 140, 224, 0.5);
}

.login_btn:hover {
  color: #97c4f7;
}

/* подписи для инпутов логин, email и пароль */
.label {
  color: #fff;
  display: flex;
  font-size: larger;
  padding-top: 10px;
}

/* стили для инпутов */
.registration_modal_form input {
  height: 60px;
  width: 300px;
  font-size: large;
  margin: 10px 0;
  border-radius: 3px;
  border: none;
  padding-left: 25px;
  background-size: 25px;
  background-color: #fff;
}

.f1_i {
  background: url("../images/login.png") no-repeat left;
}

.f2_i {
  background: url("../images/email.png") no-repeat left;
}

.f3_i {
  background: url("../images/password.png") no-repeat left;
}

/* кнопка подтверждения регистрации */
.register_btn {
  background-color: #4780c0;
  border: none;
  height: 50px;
  width: 200px;
  color: #fff;
  border-radius: 5px;
  font-size: x-large;
  margin-top: 2vh;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.register_btn:hover {
  background-color: #517db1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px) scale(1.02);
}
.register_btn:active {
  background-color: #3e618b;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  transform: translateY(1px) scale(0.98);
}