header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_and_name{
    display: flex;
    align-items: center;
}

#register_button{
    border: none;
    background-color: #415741;
    color: #ffffff;
    height: 80px;
    width: 200px;
    font-size: x-large;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; 
}

#register_button:hover{
    background-color: #5c725c;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-2px) scale(1.02); 
}

#register_button:active { 
    background-color: #5c725c; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    transform: translateY(1px) scale(0.98); 
}

#main_button{
    border: none;
    background-color: #415741;
    color: #ffffff;
    height: 80px;
    width: 200px;
    font-size: x-large;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease; 
}

#main_button:hover{
    background-color: #5c725c;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-2px) scale(1.02); 
}

#main_button:active { 
    background-color: #5c725c; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    transform: translateY(1px) scale(0.98); 
}

.site_name{
    color: #ffffff;
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.3);
}

.main_image{
    width: 190px;
    height: 190px;
    filter: drop-shadow(6px 6px 7px rgba(0,0,0,0.5));
}

.main_buttons{
    display: flex;
    gap: 20px;
}