html, body, #container{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../images/juan-davila-P8PlK2nGwqA-unsplash\ \(1\).jpg");
    max-width: 90%;
    max-height: 90%;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:hover{
    cursor: pointer;
}