html{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../images/juan-davila-P8PlK2nGwqA-unsplash\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

button:hover{
    cursor: pointer;
}
