html,
body {
  height: 100%;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-image: url("../images/b.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /* Масштабирование фона под размеры экрана */
  overflow: visible;
}

hr {
  background-color: #201e1d;
  height: 3px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgb(32, 30, 29, 0.5);
}

#container {
  max-width: 1200px; /* Макс. ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
  padding: 1rem;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid rgb(36, 34, 34, 0.3);
  box-shadow: 5px 5px 10px 5px rgb(32, 30, 29, 0.5);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  border-radius: 5px;
}

.logo_and_name {
  display: flex;
  align-items: center;
}

.main_image {
  width: 8rem;
  height: auto;
  border: 2px solid #201e1d;
  border-radius: 20px;
  transition: all 0.3s, transform 0.2s; 
  box-shadow: 4px 4px 10px 1px rgba(28, 28, 34, 0.9);
  background-color: rgb(0, 0, 0, 0.1);
}

.site_name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.main_buttons {
  display: flex;
  gap: 1rem;
  max-width: 100%; /* Добавим max-width */
  transition: all 0.3s; /* Анимация max-width */
  background-color: none;
}
.main_button {
  height: 4rem;
}

button {
  background-color: #201e1d;
  border: none;
  color: white;
  padding: 0.8rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s, transform 0.2s; /* Добавлен плавный переход трансформации */
  height: 4rem;
  box-shadow: 5px 5px 5px 4px #201e1d;
}

#main_button {
  height: 4rem;
}

/* Эффект при наведении курсора */
button:hover {
  background-color: #af8754;
  box-shadow: 4px 4px 4px 4px #201e1d;
}

/* Эффекты при нажатии */
button:active {
  background-color: #6d5336; /* Изменение фона при клике */
  transform: scale(0.95); /* Уменьшение размера кнопки при нажатии */
  box-shadow: 4px 4px 4px 3px rgba(28, 28, 34, 0.9);
}

.info_and_help_actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem; /* Отступ между блоками */
  height: 4rem;
}

/* Стиль для остальных элементов (modal forms и т.д.) нужно добавлять сюда */
.js-sup-modal-wrapper,
.registration_modal_form,
.main_table_with_events {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для блоков */
  margin-bottom: 1rem; /* Отступ между блоками */
  display: none;
}

.main_table_with_events{
  background-color: #201e1d;
  display: flex;
  box-shadow: 4px 4px 10px 4px #201e1d;
  max-width: 800px;
  height: 800px;
  margin: auto;
  flex-direction: column;
  border: 3px solid #af8754;
}

.m_ex3_b{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: large;
}

.view_events{
  display: flex;
  margin-left: 25%;
  align-items: center;
  justify-content: center;
  border: 3px solid #af8754;
  box-shadow: 2px 2px 10px 2px #af8754;
  border-radius: 5px;
  width: 50%;
}

.exit_3{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkred;
  box-shadow: 5px 5px 10px 5px rgb(88, 2, 2);
  transition: all 0.3s;
  transition: transform 0.5, ease-in-out;
  height: 3rem;
}

.exit_3:hover {
  background-color: rgb(109, 9, 9);
  box-shadow: 2px 2px 5px 2px rgb(88, 2, 2);
}

.regis_p_and_exit_4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration_modal_form form{
  width: 24rem;
}

.regis_p_name{
  font-size: x-large;
}

.label {
  display: flex;
  color: #fff;
  font-size: large;
}

.exit_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkred;
  box-shadow: 1px 1px 5px 1px rgb(88, 2, 2);
  transition: all 0.3s;
  transition: transform 0.5, ease-in-out;
  height: 3rem;
}

.exit_4:hover {
  background-color: rgb(109, 9, 9);
  box-shadow: 2px 2px 5px 2px rgb(88, 2, 2);
}

.registration_modal_form {
  display: none;
  border-radius: 5px;
  background-color: #201e1d;
  box-shadow: 2px 2px 10px 2px #201e1d;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
  margin-top: 1rem;
  height: 35rem;
  border: 3px solid #af8754;
}

.registration_modal_form input {
  background-color: aliceblue;
  border: none;
  margin: 20px 0;
  width: 100%;
  height: 3rem;
  border-radius: 2px;
  font-size: 16px;
}

.register_btn{
  background-color: rgb(93, 116, 189);
  box-shadow: none;
  height: 3rem;
  display: flex;
  margin: auto;
}

.register_btn:hover {
  background-color: rgb(76, 94, 151);
  box-shadow: 1px 1px 5px 1px #201e1d;
}

.l_x {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(93, 116, 189, 0.3);
  height: 3rem;
  border-radius: 5px;
}

.submit_form_1 {
  background-color: rgb(93, 116, 189);
  box-shadow: none;
}

.submit_form_1:hover {
  background-color: rgb(76, 94, 151);
  box-shadow: 1px 1px 5px 1px #201e1d;
}

.registration_modal_form .login_btn{
  background: none;
  border: 3px solid rgb(93, 116, 189);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px 2px rgb(84, 84, 160);
}

.login_btn:hover{
  background-color: rgb(84, 84, 160);
}

.js-sup-modal-wrapper {
  display: none;
  width: 15rem;
  margin: 1rem 0;
  background-color: #201e1d;
  border: none;
  box-shadow: 2px 2px 10px 2px #201e1d;
}

.js-sup-modal-wrapper input {
  margin: 10px 0;
  width: 100%;
  border-radius: 2px;
  border: none;
  font-size: large;
  background-color: aliceblue;
}

.info_block {
  background-color: #201e1d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  box-shadow: 2px 2px 10px 2px #201e1d;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  padding: 1rem;
  border: 3px solid #af8754;
}

.info_block h2 {
  margin-left: 0.5rem;
  color: #fff;
}

.description {
  color: #fff;
  font-size: x-large;
  background-color: #201e1d;
  box-shadow: 5px 5px 10px 5px rgb(32, 30, 29, 0.5);
  border-radius: 5px;
  width: 50%;
  display: flex;
  margin: auto;
  margin-top: 0.5rem;
  padding: 1rem;
  border: 3px solid #af8754;
}

.comment-h-form {
  height: 4rem;
}

.e-mail-h-form {
  height: 2rem;
}

.exit_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 2rem;
  background-color: darkred;
  box-shadow: 1px 1px 5px 1px rgb(88, 2, 2);
  transition: all 0.3s;
  margin-right: 10px;
  transition: transform 0.5, ease-in-out;
}

.exit_1:hover {
  background-color: rgb(109, 9, 9);
  box-shadow: 2px 2px 5px 2px rgb(88, 2, 2);
}

.exit_2 {
  width: 8rem;
  height: 3rem;
  margin-right: 0.5rem;
  font-size: large;
  background-color: darkred;
  box-shadow: 2px 2px 5px 2px rgb(88, 2, 2);
}

.exit_2:hover {
  background-color: rgb(109, 9, 9);
  box-shadow: 3px 3px 5px 3px rgb(88, 2, 2);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201e1d;
  color: floralwhite;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
  font-size: larger;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 4px #201e1d;
  height: 3rem;
}


/* Адаптивность */
@media (max-width: 768px) {
  .main_buttons {
    flex-direction: column;
    max-width: 10rem; /* Пример нового max-width */
  }
  .logo_and_name {
    flex-direction: column; /* Логотип и название под друг другом */
    align-items: center;
  }

  img{
    width: 100%; height: auto; 
  }

  .site_name {
    font-size: 1.5rem;
  }
  .main_image {
    width: 4rem;
  }
  .about_us {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .support {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
  }
  .info_and_help_actions {
    flex-direction: row;
    gap: 4rem;
  }
}